body {
    background: linear-gradient(135deg, #6ffaff, #66a6ff, #6ffaff);
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

h1{
    color: white;
    font-size: 35px;
    margin-left: 2vh;
}


  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form {
    max-width: 400px;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
  }
  
  input:focus {
    outline: none;
    border-color: #5d5fef;
  }
  
  .error {
    color: #e74c3c;
    font-size: 0.9em;
    margin-top: 5px;
  }